# Built-in functions

Explanation of built-in functions from [python documentation](https://docs.python.org/3.9/library/functions.html).

`print()`, `len()`, `type()`, `int()`, `float()`, `list()`, `dict()`, `min()`, `max()`, `sum()`, `sorted()`, `open()`, `file()`, `help()`, `dir()` are some of the most commom functions

In [4]:
print('Hello, World!') # prints the value defined inside the parenthesis

Hello, World!

In [5]:
len('Lizandra') # counts the number of characters inside the quotes, including spaces

8

In [6]:
type('Hello, World!') # checks the data type of what's inside the parenthesis

str

In [7]:
str(10) # converts numbers to strings

'10'

In [9]:
int('10') # converts strings to numbers

10

In [10]:
float(10) # converts integers to decimals

10.0

In [11]:
input('Enter your name: ') # takes user inputs

'Lizandra'

In [12]:
help('keywords') # prints all python reserved words

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

These reserved words cannot be used to declare variables or functions.

In [25]:
# help(**command**) gives information about the command, i.e.

help(dir)

Help on built-in function dir in module builtins:

dir(...)
    Show attributes of an object.

    If called without an argument, return the names in the current scope.
    Else, return an alphabetized list of names comprising (some of) the attributes
    of the given object, and of attributes reachable from it.
    If the object supplies a method named __dir__, it will be used; otherwise
    the default dir() logic is used and returns:
      for a module object: the module's attributes.
      for a class object:  its attributes, and recursively the attributes
        of its bases.
      for any other object: its attributes, its class's attributes, and
        recursively the attributes of its class's base classes.

In [26]:
# dir(**command**) gives information about a command, i.e.

dir(sum)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [31]:
min(20, 30, 40, 50) # gives the minimum value

20

In [32]:
max(20, 30, 40, 50) # gives the maximum value

50

These commands accept lists as well:

In [30]:
min(['a', 'b', 'c', 'd']) # gives the minimum value

'a'

In [33]:
max(['a', 'b', 'c', 'd']) # gives the maximum value

'd'

In [34]:
sum([46, 72, 10, 23, 8]) # takes ONLY lists as arguments and returns the sum

159

# Variables

Variables store data in the computer's memory. Should be a word that's easy to remember.
DO NOT USE numbers (at the beginning), symbols OR special characters in variable names.

Rules:
- start with a letter or _
- don't start with numbers
- can only contain letters, numbers and _
- are case-sensitive: firstname != firstName != Firstname != FIRSTNAME. Prefer snakeCase or variable_name.
- place an underscore at the beginning to use reserved words as variables: _if, _while, etc.

Using the = means declaring a variable, i.e. assigning a value to it. For instance: `firstName = 'Lizandra'` means everytime `firstName` is used in the code it will pull `'Lizandra'` as its value.

In [38]:
firstName = 'Lizandra'
lastName = 'Silva'
country = 'Brasil'
city = 'Piracaia'
age = 44
isMarried = False
skills = ['Translation', 'Cooking', 'Pet-sitting', 'Python']
personInfo = { # when using this format, DON'T FORGET COMMAS!
    'firstName':'Lizandra', 
    'lastName':'Silva',
    'country':'Brasil',
    'city':'Piracaia'
}

In [44]:
# Print the values of the variables

print('Nome: ', firstName, lastName)
print(age)
print('De: ', city, country)

personInfo

Nome:  Lizandra Silva
44
De:  Piracaia Brasil

{'firstName': 'Lizandra',
 'lastName': 'Silva',
 'country': 'Brasil',
 'city': 'Piracaia'}

You can also declare multiple variables in one line:

In [45]:
name, surname, birthYear, livesIn = 'Lizandra', 'Silva', '1979', 'Piracaia, SP'

print(name, surname)
print(birthYear)
print(livesIn)

Lizandra Silva
1979
Piracaia, SP

Combining variables and `input()`

In [49]:
_name = input('Digite seu nome completo: ')
_age = input('Digite sua idade: ')
_city = input('Em que cidade você mora?')

print(_name, _age, _city)

Lizandra Silva 44 Piracaia

# Remembering data types

In [50]:
print(type(name))

<class 'str'>

In [51]:
print(type(_age))

<class 'str'>

In [52]:
print(type(age))

<class 'int'>

In [53]:
print(type(skills))

<class 'list'>

In [54]:
print(type(personInfo))

<class 'dict'>

In [55]:
print(type(isMarried))

<class 'bool'>

In [56]:
print(type(['a', 'b', 'c', 'd']))

<class 'list'>

In [58]:
print(type((1, 2)))

<class 'tuple'>

In [64]:
print(type(zip([1, 2], [3, 4])))

<class 'zip'>

Using  `int()`, `float()`, `str()`, `list` and `set` it's possible to convert one data type to another.

In [65]:
# int to float

numInt = 10
print('Número inteiro: ', numInt)

Número inteiro:  10

In [66]:
numFloat = float(numInt)
print(numFloat)

10.0

In [67]:
# float to int

gravidade = 9.81
print(int(gravidade))

9

In [70]:
# int to str

numStr = str(gravidade)
print(numStr)

9.81

In [83]:
# str to int/float

num_str_int = '16'
num_str_float = '1.6'
print(int(num_str_int))
print(float(num_str_float))

16
1.6

In [85]:
# str to list

print(list(firstName))

['L', 'i', 'z', 'a', 'n', 'd', 'r', 'a']

# EXERCISES

### LEVEL 1
1. DONE
2. DONE
3. DONE
4. DONE
5. DONE
6. DONE
7. DONE
8. DONE
9. DONE
10. DONE
11. DONE
12. DONE
13. DONE

### LEVEL 2

1. DONE
2. DONE
3. DONE
4. DONE
   a. DONE
   b. DONE
   c. DONE
   d. DONE
   e. DONE
   f. DONE
   g. DONE
5. a. DONE
   b. DONE
   c. DONE
6. DONE
7. DONE

In [104]:
_pi = 3.14
radius = input('What is the radius of the circle?')
area = _pi*(int(radius)**2)
circumference = (2*_pi*int(radius))

print(area)

153.86