In [54]:
import numpy as np

# Introduction

## # Day 1 - 30DaysOfPython Challenge

### addition `(+)`

In [1]:
print(2 + 3)

5

### subtraction `(-)`

In [3]:
print(3 - 1)

2

### multiplication `(*)`

In [4]:
print(2 * 3)

6

### division `(/)`

In [5]:
print(3 / 2)

1.5

### exponential ``(**)``

#### equivalent to 3^2 (3 ao quadrado, 3 elevado ao quadrado)

In [6]:
print(3 ** 2)

9

### modulus ``(%)``

##### finds the remainder or signed remainder after the division of one number by another

In [15]:
print(20 % 2)

0

### integer or floor division operator ``(//)``

#### returns the closest integer value which is less than or equal to a specified expression or value, i.e.: removes the remainder

In [16]:
print(7 // 2)

3

### Writing text

#### Use single or double quotes to create a string, i.e. the text.
#### A string can be a single character, a sentence or a page.

In [26]:
'Lizandra'

'Lizandra'

In [27]:
"Lizandra"

'Lizandra'

In [28]:
'I love learning Python! This Jupyter notebook is awesome!'

'I love learning Python! This Jupyter notebook is awesome!'

#### Use triple quotes ("""TEXT""" or '''TEXT''') for long texts.

In [29]:
"""Use triple quotes
for texts with more
than one line"""

'Use triple quotes\nfor texts with more\nthan one line'

In [30]:
'''Use triple quotes,
single or double,
for texts with more
than one line.'''

'Use triple quotes,\nsingle or double,\nfor texts with more\nthan one line.'

#### One of the common bugs when writing python code is wrong indentation.

In [31]:
    "Hello, World!"

'Hello, World!'

## Data types

### Numbers

#### Int: Integer (negative, zero and positive) numbers

In [17]:
print(type(10))

<class 'int'>

#### Float: Decimal numbers

In [18]:
print(type(3.14))

<class 'float'>

#### Complex

In [19]:
print(type(1 + 3j))

<class 'complex'>

### Strings

#### A collection of one or more characters under a single or double quote. If a string is more than one sentence then we use a triple quote.

In [20]:
print(type('Lizandra'))

<class 'str'>

In [21]:
print(type("Lizandra"))

<class 'str'>

### Booleans

#### A boolean data type is either a True or False value. The letters T and F in the booleans should always be uppercase.

In [32]:
True  # Is the light on? If it is on, then the value is True
False # Is the light on? If it is off, then the value is False

False

### List

#### An ordered collection, which stores different data type items. A list is similar to an array in JavaScript.

In [ ]:
[0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers
['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)
['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)
['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float

In [22]:
print(type([1, 2, 3]))

<class 'list'>

In [33]:
print(type(['Banana', 'Orange', 'Mango', 'Avocado']))

<class 'list'>

In [34]:
print(type(['Banana', 10, False, 9.81]))

<class 'list'>

### Dictionary

#### An unordered collection of data in a key value pair format.

###### NOTE: There's no space before or after the colon inside a dictionary, Python adds one after the colon during rendering.

In [36]:
{
'first_name':'Lizandra',
'last_name':'Silva',
'country':'Brasil', 
'age':44, 
'is_married':False,
'skills':['Tradução', 'Cooking', 'English', 'Python']
}

{'first_name': 'Lizandra',
 'last_name': 'Silva',
 'country': 'Brasil',
 'age': 44,
 'is_married': False,
 'skills': ['Tradução', 'Cooking', 'English', 'Python']}

In [23]:
print(type({'nome':'Lizandra'}))

<class 'dict'>

In [39]:
print(type({'cães':'Bueri, Frizzy, Koda',
            'gatos':'Kiko, Xispito'}))

<class 'dict'>

In [40]:
{'cães':'Bueri, Frizzy, Koda',
'gatos':'Kiko, Xispito'}

{'cães': 'Bueri, Frizzy, Koda', 'gatos': 'Kiko, Xispito'}

### Set 

#### A collection of data types similar to list and tuple, but not an ordered collection of items. Like in Mathematics, sets in Python store only unique items.

In [49]:
{2, 4, 3, 5}

{2, 3, 4, 5}

In [44]:
print(type({2, 4, 3, 5}))

<class 'set'>

In [46]:
{3.14, 9.81, 2.7} # order is not important in set
# note the result is organized in ascending order

{2.7, 3.14, 9.81}

In [24]:
print(type({9.8, 3.14, 2.7}))

<class 'set'>

### Tuple

#### An ordered collection of different data types like list but tuples can not be modified once they are created. They are immutable.

###### Python tuples are a type of data structure that is very similar to lists. The main difference between the two is that tuples are immutable, meaning they cannot be changed once they are created. This makes them ideal for storing data that should not be modified, such as database records.

In [41]:
('Asabeneh', 'Pawel', 'Brook', 'Abraham', 'Lidiya') # Names

('Asabeneh', 'Pawel', 'Brook', 'Abraham', 'Lidiya')

In [47]:
('Pawel', 'Asabeneh', 'Brook', 'Abraham', 'Lidiya') # Names

('Pawel', 'Asabeneh', 'Brook', 'Abraham', 'Lidiya')

In [42]:
('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets

('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury')

In [25]:
print(type((9.8, 3.14, 2.7)))

<class 'tuple'>

# EXERCISES

## Results:

#### LEVEL 1:
1. 3.12.3
2. - 7
   - -1
   - 12
   - 3
   - 0.75
   - 81
   - 0
3. - 'Lizandra'
   - 'Silva'
   - 'Brasil'
   - '''I am enjoying
... 30 days of Python''': 'I am enjoying\n30 days of Python'
4. - <class 'int'>
   - <class 'float'>
   - <class 'float'>
   - <class 'complex'>
   - <class 'list'>
   - <class 'str'>
   - <class 'str'>
   - <class 'str'>

#### LEVEL 2:
Done

#### LEVEL 3:
1. Done
2. 9.433981132056603

In [55]:
from scipy.spatial import distance

In [56]:
from scipy.spatial.distance import euclidean


a = (2, 3)
b = (10, 8)
euclidean(a, b)

9.433981132056603