# Lists

There are four collection data types in Python:

- <b>List</b>: lista, uma coleção ordenada e mutável. Aceita itens duplicados.
- <b>Tuple</b>: tupla, uma coleção ordenada e imutável. Aceita itens duplicados.
- <b>Set</b>: conjunto, uma coleção desordenada, não indexada e imutável, mas que aceita novos itens. Não aceita itens duplicados.
- <b>Dictionary</b>: dicionário, uma coleção desordenada, mutável e indexada. Não aceita itens duplicados.

Uma lista pode conter itens de diferentes tipos de dados ou pode estar vazia.

In [52]:
lst = ['Lizandra', 44, True, {'pais':'Brasil', 'cidade':'Piracaia'}] # uma lista que contém diferentes tipos de dados
print(lst)

['Lizandra', 44, True, {'pais': 'Brasil', 'cidade': 'Piracaia'}]

Há duas maneiras de criar listas no Python:

1. Usando a função de lista, que já acompanha o Python

In [2]:
emptyList = list() # isto é uma lista vazia, não há itens nela

print(len(emptyList)) # 0

0

2. Usando colchetes `[]`

In [3]:
empty_list = []
print(len(empty_list))

0

Usa-se `len()` para descobrir o comprimento de uma lista.

In [6]:
frutas = ['banana', 'laranja', 'manga', 'limao'] # lista de frutas
vegetais = ['Tomate', 'Batata', 'Repolho','Cebola', 'Cenoura']# lista de vegetais
produtosAnimais = ['leite', 'carne', 'manteiga', 'iogurte'] # lista de produtos animais
tecnologiasWeb = ['HTML', 'CSS', 'JS', 'React','Redux', 'Node', 'MongoDB']# lista de tecnologias para a Web
paises = ['Finlandia', 'Estonia', 'Dinamarca', 'Suecia', 'Noruega'] # lista de países

# Exibir as listas e seus comprimentos
print('Frutas:', frutas)
print('Quantidade de frutas:', len(frutas))
print('Vegetais:', vegetais)
print('Quantidade de vegetais:', len(vegetais))
print('Produtos animais:', produtosAnimais)
print('Quantidade de produtos animais:', len(produtosAnimais))
print('Tecnologias para a Web:', tecnologiasWeb)
print('Quantidade de tecnologias para a Web:', len(tecnologiasWeb))
print('Países:', paises)
print('Quantidade de países:', len(paises))

Frutas: ['banana', 'laranja', 'manga', 'limao']
Quantidade de frutas: 4
Vegetais: ['Tomate', 'Batata', 'Repolho', 'Cebola', 'Cenoura']
Quantidade de vegetais: 5
Produtos animais: ['leite', 'carne', 'manteiga', 'iogurte']
Quantidade de produtos animais: 4
Tecnologias para a Web: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'MongoDB']
Quantidade de tecnologias para a Web: 7
Países: ['Finlandia', 'Estonia', 'Dinamarca', 'Suecia', 'Noruega']
Quantidade de países: 5

<b>Acessar itens com índice positivo</b>

É possível acessar cada item de uma lista usando seu índice. Como em outros casos, o índice começa a contar do 0.

In [8]:
frutas = ['banana', 'laranja', 'manga', 'limao']
primeiraFruta = frutas[0]# acesso ao primeiro item pelo seu índice
segundaFruta = frutas[1]
ultimaFruta = frutas[3]

# Último índice

ultimoIndice = len(frutas) - 1
ultimaFruta = frutas[ultimoIndice]

print(primeiraFruta)# banana
print(segundaFruta) # orange
print(ultimaFruta) # lemon

banana
laranja
limao

<b>Acessar itens com índice negativo</b>

O índice negativo começa a contar do final, -1 refere-se ao último item, -2, ao penúltimo, e assim por diante.

In [10]:
frutas = ['banana', 'laranja', 'manga', 'limao']
primeiraFruta = frutas[-4]# acesso ao primeiro item pelo seu índice
ultimaFruta = frutas[-1]
penultimaFruta = frutas[-2]

print(primeiraFruta) # banana
print(ultimaFruta)# lemon
print(penultimaFruta) # mango

banana
limao
manga

<b>Desmembrando a lista</b>

In [11]:
lista = ['item1','item2','item3', 'item4', 'item5']
primeiroItem, segundoItem, terceiroItem, *restante = lista
print(primeiroItem) # item1
print(segundoItem) # item2
print(terceiroItem) # item3
print(restante) # ['item4', 'item5']

item1
item2
item3
['item4', 'item5']

In [14]:
# Exemplo 1

frutas = ['banana', 'laranja', 'manga', 'limao','abacaxi','maca']
primeiraFruta, segundaFruta, terceiraFruta, *restante = frutas 

print(primeiraFruta)# banana
print(segundaFruta) # orange
print(terceiraFruta)# mango
print(restante) # ['lemon','lime','apple']

# Exemplo 2

primeiro, segundo, terceiro, *resto, decimo = [1,2,3,4,5,6,7,8,9,10]

print(primeiro) # 1
print(segundo) # 2
print(terceiro) # 3
print(resto)# [4,5,6,7,8,9]
print(decimo)# 10

# Exemplo 3
paises = ['Alemanha', 'Franca','Belgica','Suecia','Dinamarca','Finlandia','Noruega','Islandia','Estonia']

de, fr, bg, su, *scandic, est = paises
print(de)
print(fr)
print(bg)
print(su)
print(scandic)
print(est)

banana
laranja
manga
['limao', 'abacaxi', 'maca']
1
2
3
[4, 5, 6, 7, 8, 9]
10
Alemanha
Franca
Belgica
Suecia
['Dinamarca', 'Finlandia', 'Noruega', 'Islandia']
Estonia

<b>Cortar itens da lista</b>

1. Com índice positivo: defina um intervalo de índices positivos especificando os argumentos início, fim e etapa intermediária. O valor retornado será uma nova lista.

In [21]:
frutas = ['banana', 'laranja', 'manga', 'limao']
todasFrutas1 = frutas[0:4]# retorna todas as frutas
todasFrutas2 = frutas[0:]# dá o mesmo resultado que o código acima; se o valor final não for definido, retorna todo o restante dos itens
laranja_e_manga1 = frutas[1:3]# não inclui o primeiro, nem o último índices
laranja_manga_limao1 = frutas[1:]# não inclui o primeiro índice e vai até o fim
laranja_e_limao1 = frutas[1::2] # aqui foi usado o terceiro argumento, a etapa. Isso retorna somente a cada 2 itens (every 2nd item)

print(todasFrutas1)
print(todasFrutas2)
print(laranja_e_manga1)
print(laranja_manga_limao1)
print(laranja_e_limao1)

['banana', 'laranja', 'manga', 'limao']
['banana', 'laranja', 'manga', 'limao']
['laranja', 'manga']
['laranja', 'manga', 'limao']
['laranja', 'limao']

2. Com índice negativo: defina um intervalo de índices negativos especificando os argumentos início, fim e etapa intermediária. O valor retornado será uma nova lista.

In [22]:
frutas = ['banana', 'laranja', 'manga', 'limao']
todasFrutas3 = frutas[-4:]# retorna todas as frutas
laranja_e_manga2 = frutas[-3:-1] # não inclui o último índice
laranja_manga_limao2 = frutas[-3:]# inicia em -3 e vai até o começo
inverterFrutas = frutas[::-1]# uma etapa negativa que exibirá a lista em ordem inversa

print(todasFrutas3)
print(laranja_e_manga2)
print(laranja_manga_limao2)
print(inverterFrutas)

['banana', 'laranja', 'manga', 'limao']
['laranja', 'manga']
['laranja', 'manga', 'limao']
['limao', 'manga', 'laranja', 'banana']

<b>Modifying Lists</b>

Uma lista é uma coleção mutável e ordenada de itens. Vamos alterar a lista de frutas.

In [25]:
frutas = ['banana', 'laranja', 'manga', 'limao']

print(frutas)

frutas[0] = 'abacate'
print(frutas)# ['avocado', 'orange', 'mango', 'lemon']

frutas[1] = 'maca'
print(frutas)# ['avocado', 'apple', 'mango', 'lemon']

ultimoIndice2 = len(frutas) - 1
frutas[ultimoIndice2] = 'abacaxi'
print(frutas)# ['avocado', 'apple', 'mango', 'lime']

['banana', 'laranja', 'manga', 'limao']
['abacate', 'laranja', 'manga', 'limao']
['abacate', 'maca', 'manga', 'limao']
['abacate', 'maca', 'manga', 'abacaxi']

<b>Verificar itens de uma lista</b>

Vejamos como verificar se um item está em uma lista usando o operador `in`.

In [27]:
frutas = ['banana', 'laranja', 'manga', 'limao']

existe = 'banana' in frutas
print(existe) # True

existe = 'abacaxi' in frutas
print(existe) # False

True
False

<b>Adicionar itens a uma lista</b>

Para adicionar itens ao final de uma lista existente, use o método `append()`.

In [28]:
frutas = ['banana', 'laranja', 'manga', 'limao']

frutas.append('maca')
print(frutas)# ['banana', 'orange', 'mango', 'lemon', 'apple']

frutas.append('abacaxi')# ['banana', 'orange', 'mango', 'lemon', 'apple', 'lime']
print(frutas)

['banana', 'laranja', 'manga', 'limao', 'maca']
['banana', 'laranja', 'manga', 'limao', 'maca', 'abacaxi']

<b>Inserir itens em uma lista</b>

É possível usar o método `insert()` para inserir um único item em um determinado índice de uma lista. Com isso, o índice de outros itens muda para +1. Este método aceita dois argumentos: `index` e o `item` a inserir.

In [29]:
frutas = ['banana', 'laranja', 'manga', 'limao']

frutas.insert(2, 'maca')# insere "maca" entre "laranja" e "manga"
print(frutas)# ['banana', 'orange', 'apple', 'mango', 'lemon']

frutas.insert(3, 'abacaxi') # ['banana', 'laranja', 'maca', 'abacaxi', 'manga', 'limao']
print(frutas)

['banana', 'laranja', 'maca', 'manga', 'limao']
['banana', 'laranja', 'maca', 'abacaxi', 'manga', 'limao']

<b>Remover itens de uma lista</b>

- O método `remove()` remove um determinado item de uma lista.
- O método `pop()` remove o índice especificado ou o último item se o índice não for especificado.
- A palavra-chave `del` remove o índice especificado e pode ser usada para excluir itens dentro de um intervalor de índices. Também pode excluir a lista completamente.
- O método `clear()` esvazia a lista.

In [32]:
frutas = ['banana', 'laranja', 'manga', 'limao', 'banana']

frutas.remove('banana')
print(frutas)# ['orange', 'mango', 'lemon', 'banana']; remove a primeira ocorrência do item na lista

frutas.remove('limao')
print(frutas)# ['orange', 'mango', 'banana']; ação cumulativa

['laranja', 'manga', 'limao', 'banana']
['laranja', 'manga', 'banana']

In [33]:
frutas = ['banana', 'laranja', 'manga', 'limao']

frutas.pop()
print(frutas)# ['banana', 'orange', 'mango']

frutas.pop(0)
print(frutas)# ['orange', 'mango']

['banana', 'laranja', 'manga']
['laranja', 'manga']

In [34]:
frutas = ['banana', 'laranja', 'manga', 'limao', 'kiwi', 'abacaxi']

del frutas[0]
print(frutas)# ['orange', 'mango', 'lemon', 'kiwi', 'lime']

del frutas[1]
print(frutas)# ['orange', 'lemon', 'kiwi', 'lime']

del frutas[1:3] # this deletes items between given indexes, so it does not delete the item with index 3!
print(frutas)# ['orange', 'lime']

del frutas
print(frutas)# This should give: NameError: name 'fruits' is not defined

['laranja', 'manga', 'limao', 'kiwi', 'abacaxi']
['laranja', 'limao', 'kiwi', 'abacaxi']
['laranja', 'abacaxi']

NameError: name 'frutas' is not defined

In [35]:
frutas = ['banana', 'laranja', 'manga', 'limao']

frutas.clear()
print(frutas)# []

[]

<b>Copiar uma lista</b>

É possível copiar uma lista usando uma nova variável para reatribuí-la. P.ex.: lista2 = lista1. Agora a lista2 faz referência à lista1, quaisquer alterações feitas à lista2 também alterarão a original, a lista1. Porém, em muitos casos, não queremos alterar a lista original, mas sim uma cópia dela; para isso usamos o método `copy()`.

In [36]:
frutas = ['banana', 'laranja', 'manga', 'limao']

copiaFrutas = frutas.copy()
print(copiaFrutas)# ['banana', 'orange', 'mango', 'lemon']

['banana', 'laranja', 'manga', 'limao']

<b>Unir listas</b>

Há várias formas de unir, ou concatenar, duas ou mais listas no Python.

1. Operador de adição (+)

In [37]:
numerosPositivos = [1, 2, 3, 4, 5]
zero = [0]
numerosNegativos = [-5,-4,-3,-2,-1]
inteiros = numerosNegativos + zero + numerosPositivos
print(inteiros) # [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

frutas = ['banana', 'laranja', 'manga', 'limao']
vegetais = ['Tomate', 'Batata', 'Repolho','Cebola', 'Cenoura']
frutas_e_vegetais = frutas + vegetais
print(frutas_e_vegetais)# ['banana', 'orange', 'mango', 'lemon', 'Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
['banana', 'laranja', 'manga', 'limao', 'Tomate', 'Batata', 'Repolho', 'Cebola', 'Cenoura']

2. O método `extend()`, que possibilita anexar uma lista à outra.

In [39]:
num1 = [0, 1, 2, 3]
num2= [4, 5, 6]
num1.extend(num2)

print('Números:', num1) # Numbers: [0, 1, 2, 3, 4, 5, 6]

numerosNegativos = [-5,-4,-3,-2,-1]
numerosPositivos = [1, 2, 3,4,5]
zero = [0]
numerosNegativos.extend(zero)
numerosNegativos.extend(numerosPositivos)
print('Inteiros:', numerosNegativos)# Integers: [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

frutas = ['banana', 'laranja', 'manga', 'limao']
vegetais = ['Tomate', 'Batata', 'Repolho','Cebola', 'Cenoura']
frutas.extend(vegetais)
print('Frutas e vegetais:', frutas ) # Fruits and vegetables: ['banana', 'orange', 'mango', 'lemon', 'Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']

Números: [0, 1, 2, 3, 4, 5, 6]
Inteiros: [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
Frutas e vegetais: ['banana', 'laranja', 'manga', 'limao', 'Tomate', 'Batata', 'Repolho', 'Cebola', 'Cenoura']

<b>Contar itens em uma lista</b>

O método `count()` retorna a quantidade de vezes que um item aparece em uma lista.

In [40]:
frutas = ['banana', 'laranja', 'manga', 'limao']
print(frutas.count('laranja'))# 1

idades = [22, 19, 24, 25, 26, 24, 25, 24]
print(idades.count(24))# 3

1
3

<b>Descobrir o índice de um item</b>

O método `index()` retorna o índice de um item da lista.

In [42]:
frutas = ['banana', 'laranja', 'manga', 'limao']
print(frutas.index('laranja'))# 1

idades = [22, 19, 24, 25, 26, 24, 25, 24]
print(idades.index(24))# 2, a primeira ocorrêcia

1
2

<b>Inverter uma lista</b>

O método `reverse()` inverte a ordem de uma lista.

In [43]:
frutas = ['banana', 'laranja', 'manga', 'limao']
frutas.reverse()
print(frutas)

idades = [22, 19, 24, 25, 26, 24, 25, 24]
idades.reverse()
print(idades)

['limao', 'manga', 'laranja', 'banana']
[24, 25, 24, 26, 25, 24, 19, 22]

<b>Classificar itens de uma lista</b>

Podemos usar o método `sort()` ou a função `sorted()` para classificar itens em uma lista. O método `sort()` reorganiza os itens da lista em ordem crescente e altera a lista original. Se o argumento `reverse` do método `sort()` for igual a True, isso reordenará a lista em ordem descendente.

1. `sort()`: altera a lista original

In [44]:
frutas = ['banana', 'laranja', 'manga', 'limao']
frutas.sort()
print(frutas)# sorted in alphabetical order, ['banana', 'lemon', 'mango', 'orange']

frutas.sort(reverse=True)
print(frutas)# ['orange', 'mango', 'lemon', 'banana']


idades = [22, 19, 24, 25, 26, 24, 25, 24]
idades.sort()
print(idades) # [19, 22, 24, 24, 24, 25, 25, 26]

idades.sort(reverse=True)
print(idades) # [26, 25, 25, 24, 24, 24, 22, 19]

['banana', 'laranja', 'limao', 'manga']
['manga', 'limao', 'laranja', 'banana']
[19, 22, 24, 24, 24, 25, 25, 26]
[26, 25, 25, 24, 24, 24, 22, 19]

2. `sorted()`: retorna a lista ordenada sem alterar a lista original

In [47]:
frutas = ['banana', 'laranja', 'manga', 'limao']
print(sorted(frutas))# ['banana', 'lemon', 'mango', 'orange']

# Ordem inversa

frutas = ['banana', 'laranja', 'manga', 'limao']
print(sorted(frutas,reverse=True)) # ['orange', 'mango', 'lemon', 'banana']

['banana', 'laranja', 'limao', 'manga']
['manga', 'limao', 'laranja', 'banana']

# EXERCISES

### LEVEL 1

1. Declare an empty list

In [49]:
lista = []
print(lista)

[]

2. Declare a list with more than 5 items

In [74]:
lista5Itens = ['Lizandra', 'Silva', '45', 'pais:Brasil', 'cidade: Piracaia', 'tradutora']
print(lista5Itens)

['Lizandra', 'Silva', '45', 'pais:Brasil', 'cidade: Piracaia', 'tradutora']

3. Find the length of your list

In [75]:
len(lista5Itens)

6

4. Get the first item, the middle item and the last item of the list

In [78]:
primeiroItem = lista5Itens[0]
terceiroItem = lista5Itens[2]
ultimoItem = lista5Itens[5]

print(primeiroItem)
print(terceiroItem)
print(ultimoItem)

Lizandra
45
tradutora

5. Declare a list called mixed_data_types, put your (name, age, height, marital status, address)

In [80]:
mixed_data_types = ['Lizandra', 44, 160, 'single', 'Piaracaia, SP, Brasil']

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [84]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. Print the list using print()

In [85]:
print(mixed_data_types)
print(it_companies)

['Lizandra', 44, 160, 'single', 'Piaracaia, SP, Brasil']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. Print the number of companies in the list

In [86]:
print(len(it_companies))

7

9. Print the first, middle and last company

In [90]:
firstCompany, *middleCompanies, lastCompany = it_companies

print(firstCompany)
print(middleCompanies)
print(lastCompany)

Facebook
['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']
Amazon

10. Print the list after modifying one of the companies

In [91]:
it_companies[1] = 'OpenAI'

print(it_companies)

['Facebook', 'OpenAI', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

11. Add an IT company to it_companies

In [95]:
it_companies.append('Google')

print(it_companies)

['Facebook', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Google', 'Google']

12. Insert an IT company in the middle of the companies list

In [96]:
it_companies.insert(3, 'OpenAI')

print(it_companies)

['Facebook', 'Microsoft', 'Apple', 'OpenAI', 'IBM', 'Oracle', 'Amazon', 'Google', 'Google']

13. Change one of the it_companies names to uppercase (IBM excluded!)

In [99]:
print(it_companies[8].upper())

GOOGLE

14. Join the it_companies with a string '#; '

In [100]:
joined_it_companies = '#; '.join(it_companies)

print(joined_it_companies)

Facebook#; Microsoft#; Apple#; OpenAI#; IBM#; Oracle#; Amazon#; Google#; Google

15. Check if a certain company exists in the it_companies list.

In [103]:
existe = 'X' in it_companies

print(existe)

False

16. Sort the list using the `sort()` method

In [108]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.sort()

print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

17. Reverse the list in descending order using `reverse()` method

In [111]:
it_companies.sort(reverse=True)

print(it_companies)

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

18. Slice out the first 3 companies from the list

In [113]:
cortada = it_companies[2:]

print(cortada)

['IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

19. Slice out the last 3 companies from the list

In [117]:
len(it_companies)
cortada2 = it_companies[:4]

print(cortada2)

['Oracle', 'Microsoft', 'IBM', 'Google']

20. Slice out the middle IT company or companies from the list

In [124]:
cortada3 = it_companies[0:3]
cortada4 = it_companies[4:7]

middleCompany = cortada3+cortada4

print(middleCompany)

['Oracle', 'Microsoft', 'IBM', 'Facebook', 'Apple', 'Amazon']

21. Remove the first IT company from the list

In [128]:
print(it_companies)

['Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [129]:
it_companies.remove('Microsoft')

print(it_companies)

['IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

22. Remove the middle IT company or companies from the list

In [130]:
it_companies.remove('Facebook')

print(it_companies)

['IBM', 'Google', 'Apple', 'Amazon']

23. Remove the last IT company from the list

In [131]:
it_companies.remove('Amazon')

print(it_companies)

['IBM', 'Google', 'Apple']

24. Remove all IT companies from the list

In [133]:
it_companies.clear()

print(it_companies)

[]

25. Destroy the IT companies list

In [134]:
del it_companies

26. Join the following lists:
- front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
- back_end = ['Node','Express', 'MongoDB']

In [135]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

front_end.extend(back_end)

print(front_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

After joining the lists in question 26, copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [136]:
full_stack = front_end.copy()

print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [138]:
full_stack.insert(5, 'Python')

In [139]:
full_stack.insert(6, 'SQL')

In [140]:
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

### LEVEL 2

1. The following is a list of 10 students ages: ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24].
- Sort the list and find the min and max age

In [141]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort()

print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [142]:
print(len(ages))

10

In [144]:
min_age = ages[0]
max_age = ages[9]

print(min_age)
print(max_age)

19
26

- Add the min age and the max age again to the list

In [145]:
ages.append(19)

In [146]:
ages.append(26)

- Find the median age (one middle item or two middle items divided by two)

In [157]:
print(ages[5])

24

- Find the average age (sum of all items divided by their number )

In [158]:
median = sum(ages)/11

print(median)

24.818181818181817

- Find the range of the ages (max minus min)

In [159]:
age_range = max_age - min_age

print(age_range)

7

- Compare the value of (min - average) and (max - average), use abs() method

In [164]:
compare1 = abs(max_age) >= abs(median)
compare2 = abs(min_age) >= abs(median)

print(compare1)
print(compare2)

True
False

2. Find the middle country(ies) in the countries list.

In [165]:
countries = [
'Afghanistan',
'Albania',
'Algeria',
'Andorra',
'Angola',
'Antigua and Barbuda',
'Argentina',
'Armenia',
'Australia',
'Austria',
'Azerbaijan',
'Bahamas',
'Bahrain',
'Bangladesh',
'Barbados',
'Belarus',
'Belgium',
'Belize',
'Benin',
'Bhutan',
'Bolivia',
'Bosnia and Herzegovina',
'Botswana',
'Brazil',
'Brunei',
'Bulgaria',
'Burkina Faso',
'Burundi',
'Cambodia',
'Cameroon',
'Canada',
'Cape Verde',
'Central African Republic',
'Chad',
'Chile',
'China',
'Colombi',
'Comoros',
'Congo (Brazzaville)',
'Congo',
'Costa Rica',
"Cote d'Ivoire",
'Croatia',
'Cuba',
'Cyprus',
'Czech Republic',
'Denmark',
'Djibouti',
'Dominica',
'Dominican Republic',
'East Timor (Timor Timur)',
'Ecuador',
'Egypt',
'El Salvador',
'Equatorial Guinea',
'Eritrea',
'Estonia',
'Ethiopia',
'Fiji',
'Finland',
'France',
'Gabon',
'Gambia, The',
'Georgia',
'Germany',
'Ghana',
'Greece',
'Grenada',
'Guatemala',
'Guinea',
'Guinea-Bissau',
'Guyana',
'Haiti',
'Honduras',
'Hungary',
'Iceland',
'India',
'Indonesia',
'Iran',
'Iraq',
'Ireland',
'Israel',
'Italy',
'Jamaica',
'Japan',
'Jordan',
'Kazakhstan',
'Kenya',
'Kiribati',
'Korea, North',
'Korea, South',
'Kuwait',
'Kyrgyzstan',
'Laos',
'Latvia',
'Lebanon',
'Lesotho',
'Liberia',
'Libya',
'Liechtenstein',
'Lithuania',
'Luxembourg',
'Macedonia',
'Madagascar',
'Malawi',
'Malaysia',
'Maldives',
'Mali',
'Malta',
'Marshall Islands',
'Mauritania',
'Mauritius',
'Mexico',
'Micronesia',
'Moldova',
'Monaco',
'Mongolia',
'Morocco',
'Mozambique',
'Myanmar',
'Namibia',
'Nauru',
'Nepal',
'Netherlands',
'New Zealand',
'Nicaragua',
'Niger',
'Nigeria',
'Norway',
'Oman',
'Pakistan',
'Palau',
'Panama',
'Papua New Guinea',
'Paraguay',
'Peru',
'Philippines',
'Poland',
'Portugal',
'Qatar',
'Romania',
'Russia',
'Rwanda',
'Saint Kitts and Nevis',
'Saint Lucia',
'Saint Vincent',
'Samoa',
'San Marino',
'Sao Tome and Principe',
'Saudi Arabia',
'Senegal',
'Serbia and Montenegro',
'Seychelles',
'Sierra Leone',
'Singapore',
'Slovakia',
'Slovenia',
'Solomon Islands',
'Somalia',
'South Africa',
'Spain',
'Sri Lanka',
'Sudan',
'Suriname',
'Swaziland',
'Sweden',
'Switzerland',
'Syria',
'Taiwan',
'Tajikistan',
'Tanzania',
'Thailand',
'Togo',
'Tonga',
'Trinidad and Tobago',
'Tunisia',
'Turkey',
'Turkmenistan',
'Tuvalu',
'Uganda',
'Ukraine',
'United Arab Emirates',
'United Kingdom',
'United States',
'Uruguay',
'Uzbekistan',
'Vanuatu',
'Vatican City',
'Venezuela',
'Vietnam',
'Yemen',
'Zambia',
'Zimbabwe',
];

In [172]:
ultimoIndicePaises = len(countries) - 1

print(ultimoIndicePaises/2)
print(countries[96])

96.0
Lesotho

3. Divide the countries list into two equal lists if it is even if not one more country for the first half.

In [174]:
first_half = countries[0:96]
second_half = countries[96:]

4. ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [176]:
paises_exercicio = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

first_country, second_country, third_country, *scandic = paises_exercicio

print(paises_exercicio)
print(first_country)
print(second_country)
print(third_country)
print(scandic)

['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
China
Russia
USA
['Finland', 'Sweden', 'Norway', 'Denmark']